html
  head
    title='node/jade test'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 About this site
        p This is an exploration of node, jade, CircleCI, Docker, Tutum and AWS
        p 
          a.btn.btn-primary(href="/") back to home
        p