extends base
block title
	h1 Testing docker integration
block content
	p 
		a.btn.btn-primary(href="http://ajhanson-tasks.azurewebsites.net") try this Azure site
	p or you can try the 
		a(href="/about") "about us"