extends base
block title
	h1 How this site got here
block content
	ul
	li
		a(href="https://app.pluralsight.com/library/courses/integrating-docker-with-devops-automated-workflows/table-of-contents") DevOps - Nigel Poulton